<h5 class="h5 mb-2">Dashboard</h5>
<hr class="mb-3">
<form>
  <div class="form-row mb-3">
    <div class="col-sm-auto mr-2 ml-2 mt-2 mb-2">
      <label for="robotIP" id='ipLabel'>Robot IP/host &nbsp;</label>
      <input type="text" name="robotIP" id="robotIP" class="form-control" placeholder="Default: aidr.serveo.net">
    </div>
    <div class="col-sm-auto mr-2 ml-2 mt-2 mb-2">
      <label id='ipLabel'>Port &nbsp;</label>
      <input type="text" name="robotPort" id="robotPort" class="form-control" placeholder="Default: 80">
    </div>
    <div class="col-sm-auto align-self-end mr-1 ml-1 mt-2 mb-2">
      <button type="button" name="btnConnect" id="btnConnect" onclick="connectToRobot()" class="btn btn-primary btn-sm mr-2 ml-2 mt-2 mb-2">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Connect to Robot
      </button>
      <button type="button" name="btnDisconnect" id="btnDisconnect" onclick="disconnectRobot()" class="btn btn-danger btn-sm mr-2 ml-2 mt-2 mb-2">Disconnect</button>
    </div>
  </div>
</form>
<hr class="mb-3">
<!-- Robot name and battery percentage -->
<div class="container-fluid">
  <div class="row">
    <div class="card text-center col-sm mr-3 ml-3">
      <div class="card-body">
        <img src="/img/AIDRLogo.png" class="img-fluid mx-auto d-block" style="height: 200px;"alt="Robot Icon">
        <h6 class="card-title mt-3">Robot name: <span id="robotName">None (please connect)</span></h6>
      </div>
    </div>
    <div class="card text-center col-sm mr-3 ml-3">
      <div class="card-body">
        <h6 class="card-title">Battery Percentage</h6>
        <div class="mx-auto" id="percentageChartContainer" style="height: 280px; width: 90%; margin-left: auto; margin-right: auto; margin-top: 10px; margin-bottom: 15px;"></div>
      </div>
    </div>
  </div>
</div>
<!-- <h2>Autonomous Indoor Delivery Robot by AIDR labs</h2>
<p>This is a web application developed to monitor and optionally control an autonomous indoor delivery robot. It has the following functionalities:</p>
<ul>
  <li>Video.</li>
  <li>Telemetry.</li>
  <li>Control.</li>
  <li>Mapping.</li>
</ul>
<div class="line"></div>
<h2>Video Stream</h2>
<p>Live video stream from the robot through ros bridge.</p>
<div class="line"></div>
<h2>Telemetry</h2>
<p>Monitor the status of the robot in real time.</p>
<ul>
  <li>Charts</li>
  <li>Status indicators</li>
  <li>More...</li>
</ul>
<div class="line"></div>
<h3>Control</h3>
<p>Control the robbot remotely with a virtual joystick. You can also set its speed.</p>
<div class="line"></div>
<h3>Mapping</h3>
<p>See the map of the university (organization) and a dot representing the current location of the robot.</p> -->
