<footer class="page-footer font-small blue-grey lighten-5">
  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5">
    <!-- Grid row -->
    <div class="row mt-3 dark-grey-text">
      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mb-4">
        <!-- Content -->
        <h6 class="text-uppercase footerfont font-weight-bold">AIDR Labs</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p class="footerfont">Developed with <i class="fas fa-heart"></i> by Aidrlabs.</p>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
        <!-- Links -->
        <h6 class="text-uppercase footerfont font-weight-bold">Team members</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a class="dark-grey-text footerfont" href="#">Amjad Abujamous</a>
        </p>
        <p>
          <a class="dark-grey-text footerfont" href="#">Habib Farooq</a>
        </p>
        <p>
          <a class="dark-grey-text footerfont" href="#">Abdullah Anwar</a>
        </p>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
        <!-- Links -->
        <h6 class="text-uppercase footerfont font-weight-bold">Useful links</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a class="dark-grey-text footerfont footerlink" href="www.alfaisal.edu" target="_blank">Alfaisal University</a>
        </p>
        <p>
          <a class="dark-grey-text footerfont footerlink" href="coe.alfaisal.edu" target="_blank">College of Engineering</a>
        </p>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
        <!-- Links -->
        <h6 class="text-uppercase footerfont font-weight-bold">Contact</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p class="footerfont"><i class="fas fa-home mr-3"></i> Alfaisal University, Al Zahrawi Street, Al Maather, Al Takhassusi Rd, Riyadh 11533, KSA</p>
        <p class="footerfont"><i class="fas fa-envelope mr-3"></i> aabujamous@alfaisal.edu</p>
        <p class="footerfont"><i class="fas fa-envelope mr-3"></i> hfarooq@alfaisal.edu</p>
        <p class="footerfont"><i class="fas fa-envelope mr-3"></i> manwar@alfaisal.edu</p>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Links -->
  <!-- Copyright -->
  <div class="footer-copyright text-center text-black-50 py-3">© 2019 aidrlabs.com
  </div>
</footer>
