<h5 class="h5 mb-2">Mapping and Localization</h5>
<hr>
<p>This is where the map and the real-time location of the robot can be found in the web application:</p>
<!-- Temporary static map and a dot-->
<img src="/img/2D Static Map.png" class="main-border w-100 p-3 justify-content-center" alt="Alfaisal Map with the Robot">
