<!-- Sidebar  -->
<nav id="sidebar">
  <div class="sidebar-header">
    <h3>AIDR</h3>
  </div>
  <ul class="nav nav-tabs list-unstyled components" id="nav-tab" role="tablist">
    <p>Autonomous Indoor Delivery Robot</p>
    <li>
      <a class="nav-link active" id="nav-dash-tab" data-toggle="tab" href="#nav-dash" role="tab" aria-controls="nav-dash" aria-selected="true">Dashboard</a>
    </li>
    <li>
      <a class="nav-link" id="nav-video-control-tab" data-toggle="tab" href="#nav-video-control" role="tab" aria-controls="nav-video-control" aria-selected="false">Video & Control</a>
    </li>
    <li>
      <a class="nav-link" id="nav-telemetry-tab" data-toggle="tab" href="#nav-telemetry" role="tab" aria-controls="nav-telemetry" aria-selected="false">Telemetry</a>
    </li>
    <li>
      <a class="nav-link" id="nav-mapping-tab" data-toggle="tab" href="#nav-mapping" role="tab" aria-controls="nav-mapping" aria-selected="false">Mapping</a>
    </li>
    <li>
      <span class="line"></span>
    </li>
    <!-- <li>
      <a class="nav-link" id="nav-help-tab" data-toggle="tab" href="#nav-help" role="tab" aria-controls="nav-help" aria-selected="false">User Manual</a>
    </li> -->
  </ul>
</nav>
