<nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light">
  <div class="container-fluid">
    <button type="button" id="sidebarCollapse" class="btn btn-info">
      <i class="fas fa-align-left"></i>
    </button>
    <!-- Logout button. POST request credit: https://stackoverflow.com/a/8398954/6336270-->
    <form id="logoutform" method="post" action="/auth/logout">
      <input type="hidden" name="uid" id="uid" value="" />
      <a class="nav-link cursor-pointer" onclick="document.getElementById('uid').value= window.location.href.substring(window.location.href.lastIndexOf('/')+1);document.getElementById('logoutform').submit();"><i class="fas fa-sign-out-alt"></i><span style="cursor: pointer;">Logout</span></a>
    </form>
  </div>
</nav>
