<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href="/img/AIDRLogo.png" />
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/style.css">
	<title>AIDR - Web Application</title>
</head>

<body>
	<!--navbar-->
  <nav class="navbar navbar-expand-md sticky-top navbar-dark py-2" style="background-color: #7386D5; margin-bottom: 0;">
    <a class="navbar-brand pl-2" href="/">
      <img src="/img/AIDRLogo.png" class="d-inline-block align-bottom" style="width: 1.8em; height: 1.8em" alt="Logo">
      AIDR
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggler">
      <ul class="navbar-nav ml-auto pr-3">
        <li class="nav-item active">
          <a class="nav-link align-middle" href="http://coe.alfaisal.edu" target="_blank">Home<span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </nav>
  <!--/navbar-->
	<!--ResetPassword-->
	<div class="container py-3 my-auto">
    <div class="row">
      <div class="mx-auto col-sm-6">
        <div class="card rounded-element">
          <div class="card-body">
            <h4 class="card-title text-center mb-3">Reset Password</h4>
            <h6 class="card-subtitle text-center text-muted mb-3">AIDR</h6>
						<p>If you forgot your password, please type your email to receive password reset instructions.</p>
            <form class="form" role="form" method="post" action="/auth/resetpassword">
              <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label">Email</label>
                <div class="col-lg-9">
                  <input class="form-control rounded-element" type="email" id="email" name="email" value="{{email}}" required autofocus>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label"></label>
                  <input type="submit" class="btn btn-primary btn-block rounded-element mx-2" value="Reset Password">
              </div>
            </form>
          </div>
          <div class="card-footer">
						<!-- Copyright -->
					  <div class="footer-copyright small text-center text-black-50 py-3">
							© 2019 aidrlabs.com
					  </div>
						<!-- /Copyright -->
          </div>
        </div>
      </div>
    </div>
  </div>
	<!--/ResetPassword-->
	<!-- Bootstrap JS files: jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="/js/dependencies/jquery/jquery-3.3.1.slim.min.js" type="text/javascript"></script>
	<script src="/js/dependencies/popper/popper.min.js" type="text/javascript"></script>
	<script src="/js/dependencies/bootstrap/bootstrap4.2.1.min.js" type="text/javascript"></script>
	<!--/Bootstrap-->
</body>


<!--Old resetpassword-->
<!-- <div class="container-fluid">
<div class="row no-gutter">
	<div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
	<div class="col-md-8 col-lg-6">
		<div class="login d-flex align-items-center py-5">
			<div class="container">
				<div class="row">
					<div class="col-md-9 col-lg-8 mx-auto">
						<h3 class="login-heading mb-4">AIDR - Reset Password</h3>
						<p>If you forgot your password, please type your email so that we can send password reset instructions.</p>
						<form method="post" action="/auth/resetpassword">
							<div class="form-label-group">
								<input type="email" id="email" name="email" value="{{email}}" class="form-control" placeholder="Email address" required autofocus>
								<label for="email">Email address</label>
							</div>
							<button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Reset Password</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div> -->
<!--/Old resetpassword-->
